<!DOCTYPE html>
<html lang="en">
<!-- Affichage general du site -->
<html lang="fr">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/main.css" /> <!-- Appel au fichier main.css-->
    <link rel="stylesheet" href="static/css/font.css" /> <!-- Appel au fichier font.css-->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--  Icon  -->
    <link rel="shortcut icon" href="#">
    
    <!-- Appel de script pour afficher l'heure  -->
    <script src="{{url_for('static', filename='js/heure.js')}}"></script>


    <!-- Appel de script pour afficher la météo  -->
    <script src="{{url_for('static', filename='js/meteo.js')}}"></script>

    <!-- Appel des 2 script pour le changement des images  -->
    <script src="{{url_for('static', filename='js/jquery-3.6.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.cycle2.2.1.5.js')}}"></script>
    

    <!-- <script src="{{url_for('static', filename='js/cycle2.js')}}"></script> -->
    

</head>

<script>
    // Les urls de chque API JSON  << Train depart | arrivée >> << Vol depart | arrivéé >>
    var url_train_depart = "{{url_train_depart | safe}}";
    var url_train_arrivee = "{{url_train_arrivee | safe}}";
    var url_vol_depart = "{{url_vol_depart | safe}}";
    var url_vol_arrivee = "{{url_vol_arrivee | safe}}";

    // Variable de chaque train depart ou arrivee et vol depart et arrivee pour mettre une pause
    var delai_train_depart = "{{train_dep_delai | safe}}";
    var delai_train_arrivee = "{{train_arr_delai | safe}}";
    var delai_vol_depart = "{{vol_dep_delai | safe}}";
    var delai_vol_arrivee = "{{vol_arr_delai | safe}}";

    // variable constante pour faire l'auto-refresh entre les deux div ==> wait ...
    const delay = ms => new Promise(res => setTimeout(res, ms));
</script>

<body id="body">

    <!-- Div qui contient les deux cotes de la page letf & right -->
    <div id="MyDynamicTable">

        <!-- Div Coté à gauche de la page ==> horloge + meteo + logo -->
        <div id="sideleft">

            <!-- Module d'affichage de l'horloge -->
            <div id="horloge" class="module">
                <div class="inner_horloge">
                    <!-- Container horloge -->
                    <div id="js_date" class="date"></div>
                    <div id="js_heure" class="heure"></div>
                </div>
            </div>

            <!-- Module météo -->
			
			<div id="meteo" class="module">
					<iframe id="widget_autocomplete_preview"  width="300" height="350" frameborder="0" src="https://meteofrance.com/widget/prevision/543950##000754"> </iframe>
			</div>
            
            <!-- Module d'affichage d'information (en bas à gauche, exemple : le logo G-Ny) -->
            <div id="diaporama" class="module">
                <div class="logo_diapo">
                    <div class="cycle-slideshow" data-cycle-fx='flipVert' data-cycle-auto-height="4:3"
                        data-cycle-delay="400" data-cycle-timeout="6000">

                        <!-- Appel aux 3 images  -->
                        <img src="static/logos/01.png" alt="logo G-Ny" width="300" height="300" class=first
                            data-cycle-fx=flipVert>/>
                        <img src="static/logos/02.png" alt="logo G-Ny" width="300" height="300" class=first
                            data-cycle-fx=flipVert>/>
                        <img src="static/logos/03.png" alt="logo G-Ny" width="300" height="300" class=first
                            data-cycle-fx=flipVert>/>
                    </div>
                </div>
            </div>

            <!-- fin de la Div "sideleft" -->
        </div>

        <!-- Div Coté à droit de la page  ==> titre + tableau  -->
        <div id="sideright">

            <!-- Div permmettant de définir la taille du tableau -->
            <div class="wrapinfo">

                <!-- Dans le javascript nous allons chercher le conteneur ul -->
                <ul>
                    <!-- Cadre qui contient le titre de la page en haut à gauche et le logo de train ou aéoroprt -->
                    <div id="cadre_info"></div>

                    <!-- Création des différents tableaux -->
                    <div id="table"></div>
                </ul>

            </div>

            <!--  Fin de la Div "sideright"-->
        </div>

        <!--  Fin de la Div "MyDynamicTable"-->
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">


        // Function non utilisé qui permet de GET les données de l'API url json 
        // // Defining async function
        // async function getapi(url) {
        //     // Storing response
        //     try {
        //         var response = await fetch(url);

        //         if (!response.ok) {
        //             throw new Error(`Error! status: ${response.status}`);
        //         }
        //         var data = await response.json();
        //         return data;
        //     } catch (err) {
        //         console.log(err);
        //     }
        // }

        //  Fonction permet d'afficher le tableau de départ
        function show_tableau_dep(data, min, max) {
            // Variable qui contient le logo de train et le titre 
            var logo_sncf = `<div class="hsncf"> 
                                <img src="static/logos/logo_sncf.png" height = "150px" width = "auto"  margin-top = "25px"> 
                                    <h2> Départ <h2>
                            </div>
                            `;
            // Ajouter la variable logo_sncf dans le cadre
            document.getElementById('cadre_info').innerHTML = logo_sncf;

            //  Création du tableau des trains 
            var table_tr_dep = `<table id="table">

                <style>
                        #table tbody tr:nth-child(even) { 
                            background-color:#185dad;
                            color: #FFFFFF;
                            height : 9%;
                        }
                        #table tbody tr:nth-child(odd) { 
                            color: #FFFFFF;
                            background-color:#0A1E61;
                            height : 9%;
                        }
                    </style>

                    <thead id ="thead_train">
                        <tr>
                        <th class="column_0"></th>
                        <th class="column_1" >N°</th>
                        <th class="column_3">Heure</th>
                        <th class="column_4">Destination</th>
                        <th class="column_5">Information</th>
                        <th class="column_6">Voie</th>
                        </tr>
                    </thead>`;

            // Loop to access all rows 
            // Parcourir la liste des trains 
            for (let train in data) {
                if (train >= min && train <= max) {
                    // Si la vaoie de bus == 0 on affiche dans la case voie le logo de bus
                    if (data[train]["voie"] != '0') {
                        table_tr_dep +=
                            `<tr>
                                <td class="column_0">
                                        <image src ="static/logos/${data[train].picto}.png" height="50px"  alt="logo" alt="logo" >
                                </td>                                                   
                                <td class="column_1">${data[train].type}<p>${data[train].num}</p></td>
                                <td class="column_3">
                                    <font color="yellow">${data[train].heure}</font>
                                </td>
                                <td class="column_4">${data[train].origdest}</td>
                                <td class="column_5">${data[train].trainTypeChoice}</td>
                                <td class="column_6" >
                                    <h2 >${data[train].voie || ' '}</h2>
                                </td>
                            </tr>`;
                    }
                    else if (data[train]["voie"] == '0' && data[train]["picto"] == '10') {

                        table_tr_dep +=
                            `
                            <tr>
                                <td class="column_0">
                                        <image src ="static/logos/${data[train].picto}.png" height="50px"  alt="logo" alt="logo" >
                                </td>                                                   
                                <td class="column_1">${data[train].type}<p>${data[train].num}</p></td>
                                <td class="column_3">
                                    <font color="yellow">${data[train].heure}</font>
                                </td>
                                <td class="column_4">${data[train].origdest}</td>
                                <td class="column_5">${data[train].trainTypeChoice}</td>
                                <td class="column_6" >
                                    <img src="static/logos/10_voie.png" height="60px" alt="logo">
                            
                                </td>
                            </tr>    
                            `;
                    }
                }
            }
            table_tr_dep += `</table>`;
            document.getElementById("table").innerHTML = table_tr_dep;
        }


        //  Fonction permet d'afficher le tableau de d'arrivée
        function show_tableau_arr(data, min, max) {
            // Variable qui contient le logo de train et le titre 
            var logo_sncf = ` 
                        <div class="hsncf"> 
                            <img src="static/logos/logo_sncf.png" height = "150px" width = "auto" text-align = "center" margin-top = "25px"> 
                            <h3> Arrivée <h3>
                        </div>
                    </div>`;

            // Ajouter la variable logo_sncf dans le cadre
            document.getElementById('cadre_info').innerHTML = logo_sncf;

            //  Création du tableau des trains 
            var table_tr_arr = `<table id="table">
            <style>
                #table tbody tr:nth-child(even) { 
                    background-color:#0A6D2F;
                    color: #FFFFFF;
                    height : 9%;
                }
                #table tbody tr:nth-child(odd) { 
                    color: #FFFFFF;
                    background-color:#3caf31;
                    height : 9%;
                }
            </style>

            <thead id ="thead_train">
                <tr>
                    <th class="column_0"></th>
                    <th class="column_1" >N°</th>
                    <th class="column_3">Heure</th>
                    <th class="column_4">Destination</th>
                    <th class="column_5">Information</th>
                    <th class="column_6">Voie</th>
                </tr>
            </thead>`;

            // Loop to access all rows 
            // Parcourir la liste des trains 
            for (var train in data) {
                if (train >= min && train <= max) {
                    // Si la vaoie de bus == 0 on affiche dans la case voie le logo de bus
                    if (data[train]["voie"] != '0') {
                        table_tr_arr +=
                            `<tr>
                                <td class="column_0">
                                    <image src ="static/logos/${data[train].picto}.png" height="50px"  alt="logo" alt="logo" >
                                    </td>                                                   
                                <td class="column_1">${data[train].type}<p>${data[train].num}</p></td>
                                <td class="column_3">
                                    <font color="yellow">${data[train].heure}</font>
                                </td>
                                <td class="column_4">${data[train].origdest}</td>
                                <td class="column_5">${data[train].trainTypeChoice}</td>
                                <td class="column_6" >
                                        <h2>${data[train].voie || ' '}</h2>  
                                </td>
                            </tr>`;
                    }
                    else if (data[train]["voie"] == '0' && data[train]["picto"] == '10') {
                        table_tr_arr +=
                            `
                                <tr>
                                    <td class="column_0">
                                            <image src ="static/logos/${data[train].picto}.png" height="50px"  alt="logo" alt="logo" >
                                    </td>                                                   
                                    <td class="column_1">${data[train].type}<p>${data[train].num}</p></td>
                                    <td class="column_3">
                                        <font color="yellow">${data[train].heure}</font>
                                    </td>
                                    <td class="column_4">${data[train].origdest}</td>
                                    <td class="column_5">${data[train].trainTypeChoice}</td>
                                    <td class="column_6" >
                                        <img src="static/logos/10_voie.png" height="60px" alt="logo">
                                
                                    </td>
                                </tr>    
                            `;
                    }
                }
            }
            table_tr_arr += `</table>`;
            document.getElementById("table").innerHTML = table_tr_arr;
        }


        //  Fonction permet d'afficher le tableau des vols de  départ
        function show_vol_dep(data, min, max) {

            // Variable qui contient le logo d'airport 
            var logo_airport = ` 
                <div class="hsncf"> 
                    <img src="static/logos/logo_airport.png" height = "150px" width = "auto" text-align = "center" margin-top = "25px"> 
                </div>`;

            // Ajouter la variable logo_airport dans le cadre
            document.getElementById('cadre_info').innerHTML = logo_airport;

            //  Création du tableau des vols 
            var table_vol_dep = `<table id="table">
                <style>
                    #table tbody tr:nth-child(even) { 
                        background-color:#084B96;
                        color: #FFFFFF;
                        height : 9%;
                    }
                    #table tbody tr:nth-child(odd) { 
                        color: #FFFFFF;
                        background-color:#0A1E61;
                        height : 9%;
                    }
                </style>

                <thead id="thead_air">
                <tr>
                    <th class="column_0_air">VOL</th>
                    <th class="column_1_air" >DATE</th>
                    <th class="column_2_air">HEURE</th>
                    <th class="column_3_air">DESTINATION</th>
                    <th class="column_4_air">REMARQUE</th>
                    <th class="column_5_air">TYPE</th>
                    <th class="column_6_air">COMPAGNIE</th>
                </tr>
                </thead>`;
            // Loop to access all rows 
            // Parcourir la liste des trains 
            for (let vols in data) {
                if (vols >= min && vols <= max) {
                    table_vol_dep +=
                        `
                            <tr>
                                <td class="column_0_air">${data[vols].NUM_VOL || ' '}</td>    
                                <td class="column_1_air">${data[vols].DATE}</td>
                                <td class="column_2_air">
                                    <font color="yellow">${data[vols].HEURE}</font> 
                                </td>
                                <td class="column_3_air">${data[vols].ESCALE1}</td>
                                <td class="column_4_air">${data[vols].REMARQUE || ' '}</td>
                                <td class="column_5_air" >${data[vols].TYPE} </td>
                                <td class="column_6_air"><image src="${data[vols].LOGO || ' '}" height=30px </td>  
                            </tr>
                        `;
                }
            }
            table_vol_dep += `</table>`;
            document.getElementById("table").innerHTML = table_vol_dep;
        }


        //  Fonction permet d'afficher le tableau des vols d'arrivée 
        function show_vol_arr(data, min, max) {

            // Variable qui contient le logo d'airport 
            var logo_airport = ` 
                <div class="hsncf"> 
                    <img src="static/logos/logo_airport.png" height = "150px" width = "auto" text-align = "center" margin-top = "25px"> 
                </div>`;

            // Ajouter la variable logo_airport dans le cadre
            document.getElementById('cadre_info').innerHTML = logo_airport;

            //  Création du tableau des vols 
            var table_vol_arr = `<table id="table">
                            <style>
                                #table tbody tr:nth-child(even) { 
                                    background-color:#0A6D2F;
                                    color: #FFFFFF;
                                    height : 9%;
                                }
                                #table tbody tr:nth-child(odd) { 
                                    color: #FFFFFF;
                                    background-color:#3caf31;
                                    height : 9%;
                                }
                            </style>

                            <thead id="thead_air">
                                <tr>
                                    <th class="column_0_air">VOL</th>
                                    <th class="column_1_air" >DATE</th>
                                    <th class="column_2_air">HEURE</th>
                                    <th class="column_3_air">DESTINATION</th>
                                    <th class="column_4_air">REMARQUE</th>
                                    <th class="column_5_air">TYPE</th>
                                    <th class="column_6_air">COMPAGNIE</th>
                                </tr>
                            </thead>
                        `;
            // Loop to access all rows 
            // Parcourir la liste des trains 
            for (let vols in data) {
                if (vols >= min && vols <= max) {
                    table_vol_arr +=
                        `
                        <tr>
                            <td class="column_0_air">${data[vols].NUM_VOL || ' '}</td>    
                            <td class="column_1_air">${data[vols].DATE}</td>
                            <td class="column_2_air">
                                <font color="yellow">${data[vols].HEURE}</font> 
                            </td>
                            <td class="column_3_air">${data[vols].ESCALE1}</td>
                            <td class="column_4_air">${data[vols].REMARQUE || ' '}</td>
                            <td class="column_5_air" >${data[vols].TYPE} </td>
                            <td class="column_6_air"><image src="${data[vols].LOGO}" height=30px  </td>  
                        </tr>
                        `;
                }
            }
            table_vol_arr += `</table>`;
            document.getElementById("table").innerHTML = table_vol_arr;
        }


        // Fonction permettant d'afficher un tableau vide ( tableau des départs ) en cas de débrechement du réseau.
        function show_tableau_vide(data, min, max) {
            //  Création du tableau des trains 
            var table = `<table id="table">

                <style>
                        #table tbody tr:nth-child(even) { 
                            background-color:#125cad;
                            color: #FFFFFF;
                            height : 9%;
                        }
                        #table tbody tr:nth-child(odd) { 
                            color: #FFFFFF;
                            background-color:#0A1E61;
                            height : 9%;
                        }
                    </style>

                <thead id ="thead_train">
                    <tr>
                    <th class="column_0"></th>
                    <th class="column_1" >N°</th>
                    <th class="column_3">Heure</th>
                    <th class="column_4">Destination</th>
                    <th class="column_5">Information</th>
                    <th class="column_6">Voie</th>
                    </tr>
                </thead>`;
            // Loop to access all rows 
            // Parcourir la liste des trains 
            for (let train in data) {
                if (train >= min && train <= max) {
                    // Si la vaoie de bus == 0 on affiche dans la case voie le logo de bus
                    table +=
                        `<tr>
                                <td class="column_0">
                                        
                                </td>                                                   
                                <td class="column_1"><p></p></td>
                                <td class="column_3">
                                </td>
                                <td class="column_4"></td>
                                <td class="column_5"></td>
                                <td class="column_6" >
                                    <h2 ></h2>
                                </td>
                            </tr>`;
                }
            }
            table += `</table>`;
            document.getElementById("table").innerHTML = table;
        }

        // function permettant de rafraishir toute la page F5
        function autoRefresh() {
            window.location.reload();
        }




        // Function permetant d'afficher tout les tableaux successivment et de faire un reload à la fin de la boucle 
        const get_prog = async () => {
            const url = url_train_depart || url_train_arrivee || url_vol_depart || url_vol_arrivee;
            let response = await fetch(url);
            let data = await response.json();

            // Tant que c'est vrai par exemple 1 = 1
            while (true) {
                // indice
                var i = 1;

                // Try catch qui permet de tester l'url 1 -> 2 --> 3 --> 4 --> 5
                //  Si on affiche le tableau vide après le branchement du réseau on passe au tableau remplie
                try {
                    // Condition 1 : Si l'url = url_train_depart c'est à dire qu'on a en paramètre : train_dep = 1 
                    if (url_train_depart) {

                        //  Récuperer les données JSon depuis l'url = url_train_depart
                        let response = await fetch(url_train_depart);

                        // si le status != 200 on affiche le tableau vide 
                        if (response.status != 200) {
                            show_tableau_vide(data, 0, 7);
                        }
                        else if (response.status == 200) {

                            // parser les données json 
                            let data = await response.json();


                            //  affichage du tableau train depart en commançant par 0 et finissant par 7
                            show_tableau_dep(data, 0, 7);

                            // Wait....
                            await delay(3000);

                            // await delay(9000);

                            //  affichage du tableau train depart  en commançant par 9 et finissant par 17
                            show_tableau_dep(data, 8, 15);
                            // Wait....
                            await delay(delai_train_depart);
                        }
                    }

                    // Condition 2 : Si l'url = url_train_arrivee c'est à dire qu'on a en paramètre : train_arr = 1 
                    if (url_train_arrivee) {

                        //  Récuperer les données JSon depuis l'url = url_train_arrivee
                        let response = await fetch(url_train_arrivee);

                        // si le status != 200 on affiche le tableau vide 
                        if (response.status != 200) {
                            show_tableau_vide(data, 0, 7);
                        }
                        else if (response.status == 200) {

                            // parser les données json 
                            let data = await response.json();

                            //  affichage du tableau train depart en commançant par 0 et finissant par 7
                            show_tableau_arr(data, 0, 7);

                            // Wait....
                            await delay(delai_train_arrivee);
                            // await delay(6000);
                        }
                    }

                    // Condition 3 : Si l'url = url_vol_depart c'est à dire qu'on a en paramètre : vol_dep = 1 
                    if (url_vol_depart) {

                        //  Récuperer les données JSon depuis l'url = url_vol_depart
                        let response = await fetch(url_vol_depart);

                        // si le status != 200 on affiche le tableau vide 
                        if (response.status != 200) {
                            show_tableau_vide(data, 0, 7);
                        }
                        else if (response.status == 200) {

                            // parser les données json 
                            let data = await response.json();


                            //  affichage du tableau vol depart en commançant par 0 et finissant par 7
                            show_vol_dep(data, 0, 7);

                            // Wait....
                            await delay(delai_vol_depart);
                            // await delay(8000);
                        }
                    }
                    // Condition 4 : Si l'url = url_vol_arrivee c'est à dire qu'on a en paramètre : vol_arr = 1 
                    if (url_vol_arrivee) {

                        //  Récuperer les données JSon depuis l'url = url_vol_depart
                        let response = await fetch(url_vol_arrivee);

                        // si le status != 200 on affiche le tableau vide 
                        if (response.status != 200) {
                            show_tableau_vide(data, 0, 7);
                        }
                        else if (response.status == 200) {

                            // parser les données json 
                            let data = await response.json();

                            //  affichage du tableau vol arrivée en commançant par 0 et finissant par 7
                            show_vol_arr(data, 0, 7);
                            // Wait....
                            await delay(delai_vol_arrivee);
                        }
                    }
                    //    Après n cycle on rafraichit la page 
                    i++;
                    if (i >= 3) {
                        i == 1;
                        //  Appel de la function perrmetant de faire un F5
                        autoRefresh();
                    }
                }
                catch (e) {
                    // alert("HTTP-Error: " + response.status);
                    // En cas de panne : non wifi + non serveur ==> on affiche le tableau vide 
                    show_tableau_vide(data, 0, 7);
                }
            }
        };

        // Appel de la fonction pour lancer le test 
        get_prog();

    </script>

</body>

</html>